/* .mainDiv {
  text-align: center;
  position: absolute;
  top: 37%;
  left: 37%
} */

/* .page {
  position: absolute;
} */

.mainBox {
  border: 2px solid lightgrey;
  border-radius: 5px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  /* position: relative; */
  /* position: absolute;
  top: 25%; */
  text-align: center;
}

.score-button {
  margin: 0.1rem;
  font-size: 40px;
}

.button {
  margin: 0.1rem;
  font-size: 20px;
}